{% extends "template.html" %}

{% block content %}

<figure class="feature" style="width: 280px">
  <img src="pictures/feature_events.jpg"/>
</figure>

<h1>July 3</h1>

<h2>Welcome Meet'n'Greet</h2>
<p>
4:00&ndash;6:00<br/>
Front Street Brewery
</p>

<h1>July 4</h1>

<h2>Wedding Ceremony and Barbecue</h2>
<p>
3:00&ndash;8:00<br/>
111 N. 15th Street</br>
</p>
<p>
Garden party attire</br>
Appetizers at 3:00</br>
Ceremony at 4:00</br>
Barbecue dinner at 5:00
</p>

<h2>Fireworks Show</h2>
<p>
9:00&ndash;10:00<br/>
Riverfront Park
</p>

<h1>July 5</h1>

<h2>Day at the Beach</h2>
<p>
12:00&ndash;5:00<br/>
Wrightsville Beach<br/>
We'll have drinks and snacks.
</p>

<h2>Movie and Game Night</h2>
<p>
8:00&ndash;midnight<br/>
111 N. 15th Street<br/>
Bring your favorite board game(s) to share!<br/>
We'll have some desserts.
</p>

{% endblock %}

