{% extends "template.html" %}

{% block content %}
<h1>July 3</h1>

<h2>Welcome Meet'n'Greet</h2>
<p>
4:00 -- 6:00<br/>
Some bar.
</p>

<h2>Barbecue Cooking</h2>
<p>
???
</p>

<h1>July 4</h1>

<h2>Wedding Ceremony and Barbecue</h2>
<p>
July 4, 3:00 -- 7:00<br/>
111 N. 15th Street
</p>

<h2>Fireworks show</h2>
<p>
July 4, 3:00 -- 7:00<br/>
111 N. 15th Street
</p>

<h1>July 5</h1>

<h2>Day at the Beach</h2>
<p>
Which beach?!
12:00 -- 5:00
Drop in when you can!
</p>

<h2>Board Game Night</h2>
<p>
7:00 -- midnight
111 N. 15th Street
</p>
<p>
Bring any game you want to play!  We'll probably bring <em>Mysterium</em>, 
<em>The Captain is Dead</em>, <em>Power Grid</em> (Did you ever wish board 
games were more like doing your taxes?  This is the game for you.), <em>Cargo 
  Noir</em>, <em>Ticket to Ride</em> (Fitzy really loves trains), and of course 
<em>Twilight Struggle</em>.
</p>

{% endblock %}

