{% extends "template.html" %}

{% block head %}
{% endblock %}

{% block css %}
  .balance-text { text-wrap: balance; }
{% endblock %}

{% macro figure(paths, caption) %}
{% set images = picture_row(*paths) %}
<figure>
  {% for img in images %}
  <img src="{{ img.src }}" style="width: {{ img.width }}px; margin-left: {{ img.margin }};"/>
  {% endfor %}
  <figcaption class="balance-text">{{ caption }}</figcaption>
</figure>
{% endmacro %}

{% macro figure_pair(path_0, caption_0, path_1, caption_1) %}
{% set images = picture_row(path_0, path_1) %}
{% set captions = caption_0, caption_1 %}
{% for img, caption in zip(images, captions) %}
<figure style="width: {{ img.width }}px; margin-left: {{ img.margin }}">
  <img src="{{ img.src }}"/>
  <figcaption class="balance-text">{{ caption }}</figcaption>
</figure>
{% endfor %}
{% endmacro %}

{% block content %}
{% include 'pictures/pictures_with_captions.html' %}
{% endblock %}
