{% extends "template.html" %}

{% block content %}

<figure style="width: 220px; float: right; padding-left: 20px">
  <img src="pictures/feature_lodging.jpg"/>
</figure>

<h1>Hotels</h1>

<p>
We have a block of rooms reserved at the <a href="http://hamptoninn3.hilton.com/en/hotels/north-carolina/hampton-inn-wilmington-downtown-ILMDOHX/index.html"/>
Hampton Inn Wilmington Downtown</a>.  Call (910) 251-3930 by June 3 and 
mention the "Fitzsimmons Wedding Room Block" to get a discounted rate of 
$139/night (for the nights of July 3rd and 4th).
</p>

<h1>Vacation Rentals</h1>

<p>
Prefer to do-it-yourself?  There are a number of great vacation rentals and 
Airbnb locations nearby.  Most events will be centered on downtown Wilmington.
</p>

{% endblock %}

