{% extends "template.html" %}

{% block css %}
article.poem {
  text-align: center;
}

article.poem p {
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
}

article.poem a.indent {
  padding-left: 20px;
}
{% endblock %}

{% block content %}
<article class="poem">
  <p>
  We’ve been fortunate to benefit in both love and in life.</br>
  We also recognize that gift-giving causes people strife.</br>
  </br>
  If choosing a gift is not your cup of tea,</br>
  You might find ideas in our <a href="https://www.amazon.com/wedding/christina-fitzsimmons-kale-kundert-wilmington-july-2018/registry/2OA3GS7JT0866">Amazon Registry</a>.</br>
  </br>
  In lieu of traditional gifts, and we mean this with sincerity,</br>
  We’d also be honored if you donated to a charity:</br>
  <a class="indent" href="https://nationalmssociety.org">National Multiple Sclerosis Society</a></br>
  <a class="indent" href="https://www.charitywater.org/">Charity: Water</a></br>
  <a class="indent" href="https://www.nrdc.org/">Natural Resource Defense Council</a></br>
  <a class="indent" href="https://www.alcu.org/">American Civil Liberties Union</a></br>
  </br>
  Your presence at our wedding is the greatest gift of all.</br>
  We can’t wait to see you!  We’re sure it will be a ball!</br>
  </p>
</article>

{% endblock %}

