{% extends "template.html" %}

{% block css %}
p.address {
  display: inline-block;
  margin-left: 25px;
}
p.address:first-of-type {
  margin-left: 0;
}
{% endblock %}

{% block content %}
<p>
We love getting letters!
</p>

<p class="address">
Christina Fitzsimmons<br/>
4800 Wellington Drive. Unit #A4<br/>
Chevy Chase, MD 20815
</p>

<p class="address">
Kale Kundert<br/>
1463 10th Ave, Apt #5<br/>
San Francisco, CA 94122
</p>

<p>
If you need help with anything regarding the wedding, don't hesitate to badger 
someone in our wedding party (but not us ☺):
</p>

<p class="address">
Amy Jacobson<br/>
(555) 123-4567
</p>

<p class="address">
Alex Mitchell<br/>
(555) 987-6543
</p>

{% endblock %}

