{% extends "template.html" %}

{% block content %}

<h1>Locations</h1>

<p>
Most of the events will be centered around historic downtown Wilmington (i.e. 
Front and Market).  The ceremony itself will be held at 111 N. 15th St.
</p>

<iframe width="530" height="328" frameborder="0" class="map"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQUvYit4fqokRcu5aOrxPTM0&key=AIzaSyD9yw562LRCHiCg1u1ekmNzuNI0921CeTU" allowfullscreen></iframe>

<h1>Flying</h1>

<p>
The nearest airport is <a href="https://www.google.com/flights/#search;t=ILM;d=2018-07-03;r=2018-07-05">Wilmington 
International Airport (ILM)</a> which is located just 7 miles from downtown 
Wilmington. 
</p>

<p>
Other nearby airports include:
<ul>
  <li>Fayetteville, NC (FAY)</li>
  <li>Myrtle Beach, SC (MYR)</li>
  <li>Richlands, NC (OAJ)</li>
  <li>Raleigh, NC (RDU)</li>
  <li>Charlotte, NC (CLT)</li>
</ul>
</p>

<h1>Driving</h1>

<p>
From the North/South: Take I-95.  Connect to I-74E towards Wilmington NC.<br/>
From the West: Take I-40E or I-74E to Wilmington, NC.
</p>

{% endblock %}

