{% extends "template.html" %}

{% block content %}

<h1>Flying</h1>

<p>
The nearest airport is Wilmington International Airport (ILM) which is located 
just 7 miles from downtown Wilmington. 
</p>

<iframe width="530" height="328" frameborder="0" class="map"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQUvYit4fqokRcu5aOrxPTM0&key=AIzaSyD9yw562LRCHiCg1u1ekmNzuNI0921CeTU" allowfullscreen></iframe>

<p>
Other nearby domestic airports include:
<ul>
  <li>Fayetteville, NC (FAY)</li>
  <li>Myrtle Beach, SC (MYR)</li>
  <li>Richlands, NC (OAJ)</li>
</ul>
</p>

<p>
If you are flying internationally, we recommend connecting through these major 
cities:
<ul>
  <li>Charleston, SC (CHS)</li>
  <li>Raleigh, NC (RDU)</li>
</ul>
</p>

<h1>Driving</h1>

<p>
From the North/South: Take I-95 and connect to I-74E towards Wilmington NC. 
From the West: Take I-40E or I-74E to Wilmington, NC.
</p>

{% endblock %}

