@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans');

@mixin rotate-and-skew($deg) {
	-webkit-transform: skew($deg) rotate($deg);
	-moz-transform: skew($deg) rotate($deg);
	-ms-transform: skew($deg) rotate($deg);
	-o-transform: skew($deg) rotate($deg);
	transform: skew($deg) rotate($deg);
}

@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

// Page layout

#page {
	position: relative;
	width: 690px;
	padding: 0;
	margin: -8px auto 50px;
	background-color: #fff;
	background-image: url("background.jpg"); // good and subtle
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1));
}

%page-shadow {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	bottom: 12px;
	background: transparent;
    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
	z-index: -1;
}

#page:before {
    @extend %page-shadow;
    @include rotate-and-skew(-5deg);
	left: 12px;
} 

#page:after {
    @extend %page-shadow;
    @include rotate-and-skew(5deg);
	right: 12px;
} 

#masthead {
    display: block;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    // Width ends up: 530
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

// Content style

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 100%;
	color: #333;
	background-color: #f7fbfd
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;

}

p {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

figure {
    margin: 0;
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;

    img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        vertical-align: top;
        @include box-shadow(2px 2px 2px #b4b9bf);
    }

    figcaption {
        font-style: italic;
        text-align: center;
    }
}

.map {
    @include box-shadow(2px 2px 2px #b4b9bf);
}

