<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Christina & Kale{% endblock %}</title>
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="navbar.css"/>
  <style type="text/css">{% block css %}{% endblock %}</style>
</head>

<body>

<div id="page">

<img id="masthead" alt="Christina & Kale" src="masthead.png"/>

{% block nav %}
<ul id="navbar">
  <li id="banner"/>
  {% for id in ids %}
    <li id="{{ id }}"{% if id == this_page.stem %} class="current"{% endif %}><a title="{{ titles.get(id, id | title) }}" href="{{ hrefs.get(id, id + '.html') }}"></a></li>
  {% endfor %}
</ul>
{% endblock %}

<div id="content">

  {% block content %}
  {% endblock %}

</div>

</div>

</body>

</html>
